@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");

.button{
  border: none;
  background: white;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 400;
&.gray{
  background: none;
  color:rgba(136,136,136,1);
}
}